/*box setting*/
.w {
  width: 100%;
}

.h {
  height: 100%;
}

.w50 {
  width: 50%;
}

.h50 {
  height: 50%;
}

.wh {
  width: 100%;
  height: 100%;
}

.db {
  display: block;
}

.dl {
  display: inline-block;
}

.df {
  display: flex;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

/*clear and float*/
.clear::after,
.row::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*cursor*/
.cursor {
  cursor: pointer;
}

.cursor-unallow {
  cursor: not-allowed;
}

/*position*/
.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

/*text setting*/
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-normal {
  font-weight: normal;
}

.t-weight {
  font-weight: 700;
}

.t-weightM {
  font-weight: 400;
}

.common-bg {
  background: #fff;
}

.table-box {
  padding: 0 40px;
}

.pagination-box {
  padding: 20px 0 0 0;
  @extend .t-center
}