/* 全局变量 */
$mainColor: #333333;

/* 单位转换 */
@function px2($value) {
  @return unquote(($value)+'px');
}

/* 背景设置 */
@mixin bg($addr, $x, $y, $size) {
  background: url(#{$addr}) no-repeat $x $y;
  background-size: $size;
}

@mixin bgCover($addr) {
  background-image: url(#{$addr});
  background-size: 100% 100%;
}

/* 居中定位 */
@mixin pCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 文字渐变色 */
@mixin gradientText($c1, $c2) {
  background-image: -webkit-linear-gradient(bottom, $c1, $c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}